# DataWiz Task 2

### **Problem Statement** 
Create a Python code that uses the Yahoo Finance API and get data for atleast 5 tickers. After getting the data into a csv or json, try basic operations on it.

In [ ]:
pip install yfinance

Requirement already satisfied: yfinance in c:\users\admin\anaconda3\lib\site-packages (0.1.54)
Requirement already satisfied: numpy>=1.15 in c:\users\admin\anaconda3\lib\site-packages (from yfinance) (1.18.1)
Requirement already satisfied: requests>=2.20 in c:\users\admin\anaconda3\lib\site-packages (from yfinance) (2.22.0)
Requirement already satisfied: pandas>=0.24 in c:\users\admin\anaconda3\lib\site-packages (from yfinance) (1.0.1)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\admin\anaconda3\lib\site-packages (from yfinance) (0.0.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\admin\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (2019.11.28)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\admin\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (1.25.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\admin\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\admin\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (2.8)
Requirement already satisfied: pytz>=2017.2 in c:\users\admin\anaconda3\lib\site-packages (from pandas>=0.24->yfinance) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas>=0.24->yfinance) (1.14.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
pip install plotly

Importing Required libraries

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf
import datetime
import csv

In [ ]:
symbols=["AAPL",'GS','MSFT','INTC','AMD']
start = '2012-01-01'
end = '2019-09-11'
# Read data 
dataset = yf.download(symbols,start,end)['Adj Close']

# View Columns
dataset.head()

In [ ]:
GS=yf.Ticker("GS")

In [ ]:
GS.history(period="max") #get historical market data

              Open    High     Low   Close    Volume  Dividends  Stock Splits
Date
1999-05-04   59.90   60.89   55.18   55.47  22320900        0.0             0
1999-05-05   55.08   55.08   52.22   54.49   7565700        0.0             0
1999-05-06   53.60   54.68   52.86   53.55   2905700        0.0             0
1999-05-07   53.55   59.02   52.61   58.43   4862300        0.0             0
1999-05-10   57.84   57.93   55.37   55.72   2589400        0.0             0
...            ...     ...     ...     ...       ...        ...           ...
2020-08-11  212.72  216.95  210.53  211.06   4042700        0.0             0
2020-08-12  214.70  215.95  209.27  212.13   2439400        0.0             0
2020-08-13  210.41  212.20  207.69  208.39   2219900        0.0             0
2020-08-14  207.46  209.48  206.61  207.97   2287600        0.0             0
2020-08-17  207.00  207.85  202.53  203.07   3920500        0.0             0

[5358 rows x 7 columns]

In [ ]:
GS.actions # see actions (dividends,splits)

            Dividends  Stock Splits
Date
1999-08-10       0.12           0.0
1999-10-21       0.12           0.0
2000-01-20       0.12           0.0
2000-04-19       0.12           0.0
2000-07-20       0.12           0.0
...               ...           ...
2019-05-29       0.85           0.0
2019-08-29       1.25           0.0
2019-11-29       1.25           0.0
2020-02-28       1.25           0.0
2020-05-29       1.25           0.0

[85 rows x 2 columns]

In [ ]:
GS.dividends

Date
1999-08-10    0.12
1999-10-21    0.12
2000-01-20    0.12
2000-04-19    0.12
2000-07-20    0.12
              ...
2019-05-29    0.85
2019-08-29    1.25
2019-11-29    1.25
2020-02-28    1.25
2020-05-29    1.25
Name: Dividends, Length: 85, dtype: float64

In [ ]:
GS.splits

Series([], Name: Stock Splits, dtype: int64)

In [ ]:
data = yf.download("SPY AAPL", start="2017-01-01", end="2017-04-30")

Graph for analysing opening price

In [ ]:
Opening_price_Covid = yf.Ticker('MSFT').history("ytd")['Open']
index_lst = yf.Ticker('MSFT').history("ytd").index
plt.plot(index_lst,Opening_price_Covid,label='Opening Price during Covid')
plt.xticks(rotation=45)
plt.xlabel('Date')
plt.ylabel('Price')
plt.title('Variation of Stock Prices of MSFT')
plt.grid(True)
plt.legend()